Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

deploy-test-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-dev-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-stage-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-prod-frankfurt:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - aws
  variables:
  ...

deploy-prod-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

test-download-remote:
  stage: test
  script: bin/acceptance-tests.sh
  tags:
  - mozmeao
  - aws
  after_script:
  - bin/cleanup_after_functional_tests.sh
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    when: on_failure
    expire_in: 1 week
    paths:
    - results-${CI_JOB_ID}
  variables:
    MARK_EXPRESSION: download
  ...

upgrading to the k8s version api for 1.16 and up
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/vpa.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/vpa.yaml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/vpa.yaml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/vpa.yaml
Due: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-iowa

bedrock-test: set image to mozmeao/bedrock:27c7f5a7ac07114d5b28b28ed842820c002ca751 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:0ec2fd964d277c255ea96128a8228a1679be1519 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:0ec2fd964d277c255ea96128a8228a1679be1519 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:0ec2fd964d277c255ea96128a8228a1679be1519 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:7ee24c03dcaa6fed33f173f7c5eff40159760edf in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:e2080b5b909872eda65b6ef28f5226b0ee1f0024 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

Set replicas for bedrock-test to 3
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bumping up limits for test deploy
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

removing tab char
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

Adding sentry to the bedrock-test deployment
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:e126521b3fd8234a250304c87d40dfe2d482542c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:e126521b3fd8234a250304c87d40dfe2d482542c in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:79e91b20d24071484434ef60f1f3bcbba38735b9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:e126521b3fd8234a250304c87d40dfe2d482542c in mozmeao-fr iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:82e925b5677b23539e5b250921f7edbf75be9ee6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ccb3bffafde4290f566832ec6d8a29f4ef4da711 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:c36684d6468ba5b35582339182d58412331c0297 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:82b4c8a024078dbd2b535203cec305a794c7e0e4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

reverting to config item
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:6a555be9b87881cf44a11aee972114f90f6ba2a9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:6bf1b05cde9b74039be2b6624f36931f730d85ea in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:612ae3b94790afb124092af15bfd014fe22fab4a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:7bf03b4db0a84675bc83b20c0cbfcecb54cfdcf8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:2976c152a84db2f15a3bbeb3976b44ed1bd4a852 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b0eb2f9f338104309c1c3e25da266fe06b875f84 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:334f499965208b6f90b11fd1f4de452bc7d8ee67 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:334f499965208b6f90b11fd1f4de452bc7d8ee67 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:334f499965208b6f90b11fd1f4de452bc7d8ee67 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:72c65cd6188bf4d7e860dd28ac433b497b46870b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:233fcc24cfab4e5c1b3b4b16679c1a57b6a0d9ee in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:5bf4353297b530338483581428e552e68b64fee8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4b344bae02088c8458c9774dc7b2e098eaa52873 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:1a10c503e416ec7d2bcbf3446a329c70a0be6b16 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:242f2f1c6d1f3f6c0794533d4b296791682cf425 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:84ee3739c27bcf7d7a230da9d3fa878d22a47176 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:332917cdf3c4ccc190042a322330ceac10844d37 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:266bca0b4c36f04f98c1aec0bef57c96ad2470c5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:cf00b5701783e6d8a910c9acdb843f9f9e3e6393 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:2e7527d713e311cf8aec327b213f19b953cc9987 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
