Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*

set image to mozorg/bedrock:master-747ee3e649afc1317e1bb6f0909696d3c65c33ca in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-062adaf8be0ade5b03fbaa73b559e44cdb94ac36 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:stage-747ee3e649afc1317e1bb6f0909696d3c65c33ca in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-747ee3e649afc1317e1bb6f0909696d3c65c33ca in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-07b3ed0dd3239b1918406d14db3dbe118facc451 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-07b3ed0dd3239b1918406d14db3dbe118facc451 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-07b3ed0dd3239b1918406d14db3dbe118facc451 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-9eaf64049b3ebb66d039192cebcb640def2ffbf9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-8835e22cf9b1bdea937e02246efde75afc0b200d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-8209ac3f45369e12e0ee8b1fe8fd72d2f45ff96c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-0f9b3146732caa98194a35f669d71ec9611180be in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-246b331bbc81529dbd435387b4fb1f891493595a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-523a597df796a9fa539f2a6edd1827ae7cfadb99 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-f793ca850fc8499a939925cf01db4d3566c39142 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-df9914eb557ae358a6c0169d569436685d485d28 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-56254a7ef9cda2fe609aa79efb071fd2e91ef85f in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-ce6691ab5388d887297aa69130330d1a80d8a688 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-bf4687307164e2c2267858a62e450e5864505121 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-85611ed0f1148497e12429e41575cf6a05c96e8c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-b679650f91c0e4eca18aef0743a11fa57d39a987 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-f870486ce7d0d8a8796d5f11fb2311da7c4bfabb in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-b0d324aa162a916cf7eeaa3a3e44a38e0f436741 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-b0d324aa162a916cf7eeaa3a3e44a38e0f436741 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-b0d324aa162a916cf7eeaa3a3e44a38e0f436741 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-c5169820455a793e07fa14101dd1a03d64589859 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-99e14005d0bfebcb2c8f2ffbcd79b7af4f183716 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-bb3daf69a257e0c6d751ccd925658ec9d3525f94 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-d3b892300d9a787511408944621f8d7c59f27675 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-bb386bbab0c64754f338e6afc5625ad4f3d575de in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-0b54ab992178ff45bd9579a5e4475998076cc5c9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-0b54ab992178ff45bd9579a5e4475998076cc5c9 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-0b54ab992178ff45bd9579a5e4475998076cc5c9 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:run-integration-tests-fc60dde4fe9502aa75c594ad4a57279b24ddc2e3 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-4d161e90f21a43446bd93ba84530b44d9af8c41f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-a12f17703db7ad4b51936661fcd31e1b36bf2bc9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-a12f17703db7ad4b51936661fcd31e1b36bf2bc9 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-a12f17703db7ad4b51936661fcd31e1b36bf2bc9 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-ab06532212965819c64cc2e66b96a0e9c287ac60 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-3836de999128e4106e35ca7b1505a7faf24ba667 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-470a593e81cf0bec70a082939a69ea8881bfbcbd in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie
