Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*

set image to mozorg/bedrock:master-5b380979ca87e47f98082e92c69a624d2896e832 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-b322e066f253da9cfb47518e8e664259b8702946 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-b322e066f253da9cfb47518e8e664259b8702946 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-b322e066f253da9cfb47518e8e664259b8702946 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-639abce099c44fe04a8ae7b5fd1e30c8cf8685b9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-7e733378952727d461d2e80e95a1dc55ab290845 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-0c26ea4e9e7e65b6b2ebf3f215f841909c03f2da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-8948821c503db0e4cea6483a6d2aaec8e1306f89 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-c672efd6c8d0858faec17e020f03b4f5a63089d5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-bd23c56e475884f92970b05384fae133967a79da in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-8f96738ade6f971436fe64ae0391850cb00508fc in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-f618c264468656d79e7465e211c922da2c0e985f in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-239077f74925306bf88787b7e084487c95595379 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-f6abea0b6619e71769a17dfc06dd54dc745cfeb7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-f6abea0b6619e71769a17dfc06dd54dc745cfeb7 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-f6abea0b6619e71769a17dfc06dd54dc745cfeb7 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Make the iowa-a deployment more reliable
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:run-integration-tests-59be8f1aa60726595fec34b54184724ea6937287 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-fdf2e903b2e3d129026018b5d6fa8613f366f0e4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-11d3567ce2b0db51e87a859b1ec588aea4212237 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-0357da82e2a7904279d04785ad0c046c454acbc7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-0a7658827df2cb8aa6568dfd46e54ba716f0fa07 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-ad8e9e9d09dd138a707f6bd84ccac07587ccf681 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-c0328da527a851407051e9c6f1845fe6f05d90b2 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-712a49ede3b98abc7e2cf4b2bd73387a0e4009fa in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-712a49ede3b98abc7e2cf4b2bd73387a0e4009fa in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-712a49ede3b98abc7e2cf4b2bd73387a0e4009fa in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:run-integration-tests-0ecab1f4e17b2119db8123731ee5d7006ba7efe7 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-fda89efd27ad7eb7b8149dfb47a7037463d7fa5a in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-4ef9a8fe463f5607d2b0f27ec0e056d511c8e0c5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-9966d6651ae0f8e0ea65750f5a10e887bc2c7922 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-148bf09d2b0604225a2eafd99f1ff51d37dcbd31 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-44791c28d0e40c2b79c8c2255f8da7d3258d6b50 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-a8a844eed3da6b5c77b6f8124164830ea7a3a7d7 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-f939ce6b1f3b976322479c38a521c1b7f3e7f69a in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-489fa42c28050b4d353404b6cf7c5358bd5f6213 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:stage-9966d6651ae0f8e0ea65750f5a10e887bc2c7922 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-9966d6651ae0f8e0ea65750f5a10e887bc2c7922 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-876b2a6a860107bd6562876ac7e43116e4b5657d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-b48ef0ca0a65c34d27e37436dbe1e25688fd9d93 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie
