Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

deploy-test-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-dev-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-stage-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-prod-frankfurt:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - aws
  variables:
  ...

deploy-prod-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

test-download-remote:
  stage: test
  script: bin/acceptance-tests.sh
  tags:
  - mozmeao
  - aws
  after_script:
  - bin/cleanup_after_functional_tests.sh
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    when: on_failure
    expire_in: 1 week
    paths:
    - results-${CI_JOB_ID}
  variables:
    MARK_EXPRESSION: download
  ...

bedrock-dev: set image to mozmeao/bedrock:43bd433df85723b325ec6b918b0ec39deed3fdf3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b6ef4b60522624faefbe0b7879b464b4aa92116b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6abafc6f0ba36acc51d08b4b92e6bc022011987b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:bd0f50a1c0a7455115cc2bf9eb3ae9027586a024 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:bd0f50a1c0a7455115cc2bf9eb3ae9027586a024 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:5be13e4f62c558309f18308cb54dd256b41e0419 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:5be13e4f62c558309f18308cb54dd256b41e0419 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:0bb5cd7db7a8ade626d3abc155681c1db83a3249 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:a7289b5c40f6d4ce581f4e56b9f7301435ddf183 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:a7289b5c40f6d4ce581f4e56b9f7301435ddf183 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:a7289b5c40f6d4ce581f4e56b9f7301435ddf183 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:3ae3859d0d75fc09417c1ddca35fa65ed755bd0a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

stage and prod canary commits with gevent enabled
  iowa-a/bedrock-prod/canary-deploy.yaml
  iowa-a/bedrock-stage/canary-deploy.yaml
  mozmeao-fr/bedrock-prod/canary-deploy.yaml
Due: deploy-stage-iowa, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ac4e8e44b35f0ecddc71a8bf5ac42e8ee59f9572 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6dc8aaff74d27f4394aa5bdb8f6127704597dbb6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Enable VPN headline experiment on stage
  waffle_configs/bedrock-stage.env
Due: test-download-remote

Enable VPN headline experiment on prod
  waffle_configs/bedrock-prod.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:514b02535969ec322ba61777489786f40d5af894 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:765a60450235d810cf941676e4a29f012a9eaaba in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:7e25aa27f575bc2458684305fa83a73d34ea3a38 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:554c3f1ae914b455bd36601c946d85daabc350a8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:554c3f1ae914b455bd36601c946d85daabc350a8 in iowa-a
  iowa-a/bedrock-stage/canary-deploy.yaml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:554c3f1ae914b455bd36601c946d85daabc350a8 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/canary-deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/canary-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:bce4327217951fda48affc62ef0ccec9062ec9d2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:a5c41dbfdc7a1c0982fb91b07e20352267bdfe16 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:423c0cb3031fc56cb31b8572151b20f720280ac3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b519ee2d191788ac2a3245c9e078b7e75c3673ec in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Turn off VPN headline experiment
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

Point www-dev to VPN/FxA staging
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4e74ed511d0b1a345c5b7415878294a01b4a064b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Switching canaries to sync workers
  iowa-a/bedrock-prod/canary-deploy.yaml
  mozmeao-fr/bedrock-prod/canary-deploy.yaml
Due: deploy-prod-iowa, test-download-remote

a touch more resources, based on some containers crashing
  iowa-a/bedrock-prod/canary-deploy.yaml
  mozmeao-fr/bedrock-prod/canary-deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:784fce010e6250decb55dd51627b721355606cdc in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:784fce010e6250decb55dd51627b721355606cdc in iowa-a
  iowa-a/bedrock-stage/canary-deploy.yaml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:75d96da309f1fc9c03d8da3d61503b0145ca8ef3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-prod: set image to mozmeao/bedrock:784fce010e6250decb55dd51627b721355606cdc in mozmeao-fr iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-prod/canary-deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/canary-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:2a86f4aa57c44109e67defad0dad32d2adeedf7e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:7f6e3ea9e002360a62ceeb3aa6ed76477b55da7b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:c90cc01d8c3cd2ce90509f24ad65c58a014c92fb in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
