Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c
  retry: 2

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-download:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
    PYTEST_PROCESSES: '4'
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-firefox-local:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: Remote
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
    PYTEST_PROCESSES: '4'
  ...

dev-test-edge:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - mozmeao
  - aws
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
  retry: 2

Remove wnp78 experiment switch.
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:run-integration-tests-bd461e69a0c9c3669ae53970e04380378ce2ad71 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:master-8389b3370d32d0c18c40fbe3fae8365ccd0af1d2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-bf35be8afd181f03255e2b5b9119743748fc1f1c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Remove wnp78 experiment switch. (#290)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:master-6fa7a21c9f41f1a50d0cd1ca74daaede1d2b218f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-6fa7a21c9f41f1a50d0cd1ca74daaede1d2b218f in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:master-394ac61804f925861333373a7a6d9e42730357ca in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-394ac61804f925861333373a7a6d9e42730357ca in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-394ac61804f925861333373a7a6d9e42730357ca in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozmeao/bedrock:run-integration-tests-dd2913e475d69f03ba2d9d4a97a74afabfd94652 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:master-b25b5be89a5ef5e7b2b9a0991ee6e4e9244afe33 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-b25b5be89a5ef5e7b2b9a0991ee6e4e9244afe33 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-b25b5be89a5ef5e7b2b9a0991ee6e4e9244afe33 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozmeao/bedrock:master-7d98af01483854f84d8473e6aa732567201577c9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-b15410a96b10711a34b0d79b113cb0c7766c3dab in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-79116f72e9c8ad6d588c08fcc51db726b0ecd3f0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-f6e3b49469440c6974ace8043a47a02b8b293b8f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-1d2afdedc5753823a406567d07a9b0d13e13af99 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-3d432c50269e14a58bf52c347092fe9508963e9c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-e31d717d0d2ec13c4d10f0a97b8480d7f131686d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-e31d717d0d2ec13c4d10f0a97b8480d7f131686d in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-e31d717d0d2ec13c4d10f0a97b8480d7f131686d in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozmeao/bedrock:master-3351d918f585a11844f43f2b3c3e6a8bbcfd9c2f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-fa78a392fa33cef5679c574bdcca2762241fb9f1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-97b82d547aa52003673e8940e7c4bd14a4eb1b8d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-0a54283890a352f03210e2a916f9a0df849a87b1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-70b37047a6dc0eb8efefe7ab39ab7291ad17d662 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-70b37047a6dc0eb8efefe7ab39ab7291ad17d662 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-70b37047a6dc0eb8efefe7ab39ab7291ad17d662 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozmeao/bedrock:run-integration-tests-e98bc6bb16b74e14ca1613e1434e7067a093f3c2 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:master-62ef8c26384d8a5e197ad9642ca7a35205d666b6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-ca268bea8f1955c372fc3d69a4cbad241658cc48 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-14ac630636fb2038900af59851afd24919fcc724 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

limit number of tests that can run at one time
  .gitlab-ci.yml
Due: none

correct typo
  .gitlab-ci.yml
Due: none

set image to mozmeao/bedrock:master-fc4cf75810ee947600836e233e338124c1bf2773 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-7ec04109a4162424c557fc5ec5de38c57fac66cc in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-8664ae076b329781c6ba841c115d2586ed98117b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-8664ae076b329781c6ba841c115d2586ed98117b in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-firefox-local: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-edge: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox-local: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-edge: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie9: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox-local: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-firefox-local: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
