Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

deploy-test-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-dev-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-stage-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-prod-frankfurt:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - aws
  variables:
  ...

deploy-prod-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

test-download-remote:
  stage: test
  script: bin/acceptance-tests.sh
  tags:
  - mozmeao
  - aws
  after_script:
  - bin/cleanup_after_functional_tests.sh
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    when: on_failure
    expire_in: 1 week
    paths:
    - results-${CI_JOB_ID}
  variables:
    MARK_EXPRESSION: download
  ...

Switch to restructure branch for legal docs for dev
  iowa-a/bedrock-dev/clock-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:1f80acad3ec29ebde2629a7fc8f41c883a327fe1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6ccd41d1543923fcec1099016cdebd73f7b6008b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:030b817d73e7befda3c9e060658e22b19d79eb46 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:5a2fb5735f73583b09fc995e65d376978251509e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b2f3fdd560ae4121bac140174d07361e7a30d755 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:5bc9626179bc4bda40474dd924a20a489365ab7b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:d5020cb0ae87a399bd65aa0b58ac57d2cd249ac6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

Revert "Switch to restructure branch for legal docs for dev"
  iowa-a/bedrock-dev/clock-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ad2a5af143c118be589d64366e804978d0752b74 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Switch back to master branch for legal docs for dev
  iowa-a/bedrock-dev/clock-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:1141e3e8a5149b918f188d0c4d63ce7a97c78bc8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6675221df9e895d700504257631c11439579d0d5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ee6fc98f17ca3c943e480c5ffee2271f628ce325 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:d8acc0b0045a3ca5220442105e850dc7c11b88c1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:d8acc0b0045a3ca5220442105e850dc7c11b88c1 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:d8acc0b0045a3ca5220442105e850dc7c11b88c1 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

quick experiment to check if the prom metrics being saved to a directory reduces memory usage
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:2f50f30868687682ec5255726c9970a2b0aafcb0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

moving prom metrics to an empty dir
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-stage-iowa, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:4632c123c8939906a21c70f7aa5b98da759f29a8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:4632c123c8939906a21c70f7aa5b98da759f29a8 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:4632c123c8939906a21c70f7aa5b98da759f29a8 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:741a0313e50c59a6c67dfeb92feecf721a30d4b0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:2a1b8fbc6a8a6c52792cd9ace3c242908e9a1829 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:3a8ca17ab61072bfa13e7da54bde264809032878 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

adding info-only vpa to bedrock pods
  iowa-a/bedrock-dev/vpa.yaml
  iowa-a/bedrock-prod/vpa.yaml
  iowa-a/bedrock-stage/vpa.yaml
  iowa-a/bedrock-test/vpa.yaml
  mozmeao-fr/bedrock-prod/vpa.yaml
Due: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-iowa

Correcting prod vpa's namespace
  iowa-a/bedrock-prod/vpa.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:3a8ca17ab61072bfa13e7da54bde264809032878 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:3a8ca17ab61072bfa13e7da54bde264809032878 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

Resizing containers based on their current resource utilization
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/vpa.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/vpa.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/vpa.yaml
  iowa-a/bedrock-test/deploy.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/vpa.yaml
Due: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-iowa

bedrock-test: set image to mozmeao/bedrock:b3ec850756524102e17df5ed7c0ba8a756693517 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bumping size up
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-iowa

bump up again
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, deploy-prod-iowa, test-download-remote

bump up again
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:0c8488d267db35d47daea0787d8e1950a983f2b2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:a292c87137386bfdc7bc09b1f16269fe1c382858 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

increasing resource limits for prod containers, back to their previous limits.
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:1e58bea75b89f16a1a9c0d24ca5b1d2dd0346f08 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:1e58bea75b89f16a1a9c0d24ca5b1d2dd0346f08 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
