Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c
  retry: 2

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-download:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
    PYTEST_PROCESSES: '4'
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-firefox-local:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: Remote
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
    PYTEST_PROCESSES: '4'
  ...

dev-test-edge:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - mozmeao
  - aws
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
  retry: 2

bedrock-dev: set image to mozmeao/bedrock:master-64c545431cd642232410740da62adc4ce5493c61 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:master-bd043fa6515d8e8a3051d1673bb9e4487147b0f8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:stage-bd043fa6515d8e8a3051d1673bb9e4487147b0f8 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:prod-bd043fa6515d8e8a3051d1673bb9e4487147b0f8 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:4ae7d177f893b5e7010d9c2c763cef90a7000424 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Use data volume updated by DaemonSet for dev
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:a4a1d183a555d1dd2d7d0a11a5da23efd94d19b0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

changing max unavailable
  iowa-a/bedrock-dev/daemonset.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:c0b817ac215126c508c4c13451222dd5a8cf61da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Add DaemonSets for stage and prod data
  frankfurt/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-stage/daemonset.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-dev: set image to mozmeao/bedrock:9f9aafb75a6dbe240e798e79658686c6395a0fb7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:9f9aafb75a6dbe240e798e79658686c6395a0fb7 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Add data volume for stage deployment
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-dev: set image to mozmeao/bedrock:5a402bf8fd819a5eba05808652c934df0ca541ec in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-prod: set image to mozmeao/bedrock:9f9aafb75a6dbe240e798e79658686c6395a0fb7 in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:b868b1e013ddacea0be78a9df0b1467924fc6c69 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:6b19b83d9c6fa0e9398dcf0005b4341ab2f6b3bf in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:ced873a95b3e7303d633d304e96c14ea6da88c82 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:ced873a95b3e7303d633d304e96c14ea6da88c82 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Use geoip volume for dev
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Use geoip volume for stage
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Use data volume mount in prod in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless

bedrock-dev: set image to mozmeao/bedrock:378f34665bae555fcc0b8664e8a362f0852b6c1f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:defc40f9123e8c5975a8ac406cf0b953a9f997b3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:16322320b37096116fb32d3166808d580376fcf6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:16322320b37096116fb32d3166808d580376fcf6 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Do not run supervisor in frankfurt prod
  frankfurt/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless

bedrock-prod: set image to mozmeao/bedrock:16322320b37096116fb32d3166808d580376fcf6 in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Use data volume mount in prod in iowa
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Use GeoIP volume mount for prod
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:462f7d6961b160159ee6e644371c55c757f4dc21 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:7f77738fa3a8e61938c03ed247f7f3a328448539 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:e73057246737fd01f1efd379a298bec88678ea75 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:e73057246737fd01f1efd379a298bec88678ea75 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-firefox-local: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-edge: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox-local: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-edge: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie9: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox-local: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-firefox-local: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
