Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)

bedrock-dev: set image to mozmeao/bedrock:323c5d9a4031bf60f8c5a9e3e748dc638613140e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:71ad74d94416b2c7ed43c955d9b109ead364f7d3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:f52f2ccf1fad88510592b6db66ac0b4eec95d0d4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:65217b8d85262497359c9f6b9b7cac6d4cecb0c2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

switch to using the sync workers
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:deaff7b865ee568747e3a230e55d73c4a1e34ba0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:deaff7b865ee568747e3a230e55d73c4a1e34ba0 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:deaff7b865ee568747e3a230e55d73c4a1e34ba0 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

Updating dev with different worker type
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Updating staging and test with different worker type
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, deploy-stage-iowa, test-download-remote

Updating gcp prod with different worker type
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

reverting sync worker
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: test-download-remote

Switching to gevent worker
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Adding the gevent changes for gcp prod
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/hpa.yaml
Due: deploy-prod-iowa, test-download-remote

switching eks prod to gevent
  mozmeao-fr/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/hpa.yaml
Due: test-download-remote

terser but exactly the same
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Update deploy.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: test-download-remote

Update deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:7c3c0d3e0de6214ba309082d3584845532abb437 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Allowing the pods to have more resources because they were failing to come to ready
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

increasing resource limits
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:b86477cd72eb5221912ac7bad672baf89931df8a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b300769ab2940ded94e6f0ec59ad07c8f3c167a2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:b300769ab2940ded94e6f0ec59ad07c8f3c167a2 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

reverting sync worker in staging
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, deploy-stage-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:b6ea6764f0f69056c92bfc932615cba7b0eebddd in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-prod: set image to mozmeao/bedrock:b300769ab2940ded94e6f0ec59ad07c8f3c167a2 in mozmeao-fr iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:0ae4d61dde01b60a18c7d6e83f4cd430303917fb in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:64198c48ef17db237bf00c9c0fcb31e43250d0b6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:b95f449d86ff2f19db0814c600e3ac7b764e75da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

increasing resource limit
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, deploy-stage-iowa, test-download-remote

Update deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

Switching stage and test to gevent
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, deploy-stage-iowa, test-download-remote

Update deploy.yaml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:e7bf0cda4c4a405a61e7dd11f02709b0b169689b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:981320b4c9fe04bb72bbcbe875de694635db914d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa
