Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c
  retry: 2

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-download:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
    PYTEST_PROCESSES: '4'
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-firefox-local:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: Remote
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
    PYTEST_PROCESSES: '4'
  ...

dev-test-edge:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozmeao/bedrock_test:3c862bfd5acd8b4587a511a8864f771120767968
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - mozmeao
  - aws
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
  retry: 2

set image to mozmeao/bedrock:run-integration-tests-2f59292a010cae598f96d57ce7311713a4b98b40 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:master-00e686a58726907f76dbfef7584bf13f24a1f04c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-7f9c4b2063a277397f2f10edae6dfce27a60a0c2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-ae9360bf43e71abadb12f64714a741e0e4653b10 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Update Sentry DSN to new non-secret form
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
  oregon-b/bedrock-test/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:master-dac0b94d5b88536bc1323fe6be344d1ef7f904c3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-dac0b94d5b88536bc1323fe6be344d1ef7f904c3 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:master-8847fe3ec2d9ac437d579df66a6e0d2c183c0762 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-8847fe3ec2d9ac437d579df66a6e0d2c183c0762 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-8847fe3ec2d9ac437d579df66a6e0d2c183c0762 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozmeao/bedrock:master-14cfe7191d0aff0ace1bf8cd9226ec241a3774a6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-adf7afd3921aab66ebac7aff3f8b95d6a6aa6d3c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-c38928a24c4fdfe22a0b31d79f5677f6898843d8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-f6212a5200b4e0590838fa4952c9a8e78a5a6194 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:run-integration-tests-74080b0937ed23060214c705fd49dcb069979874 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:stage-f6212a5200b4e0590838fa4952c9a8e78a5a6194 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-f6212a5200b4e0590838fa4952c9a8e78a5a6194 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Disable download tests for dev deployments
  .gitlab-ci.yml
Due: none

set image to mozmeao/bedrock:run-integration-tests-8aa3b34ce61cbe807227da9f56c3883ff3ee55d5 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:master-c928375bf0083bac1e02eb0f1ce6c341f6378217 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-5db2c449dd1fbf1444d9a9608b8b86c3e2c11dc1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Activate Firefox Lite whatsnew page
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:run-integration-tests-191b89e1cd0bb722fc4ca78d0e819e84afbed296 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:run-integration-tests-547f6f8e5b0e70e314493fe9ccf8e5cdc80a381c in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:master-d301f1fa93511149fe2dd360ffc279de5bd5e6cb in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:master-eb3292c76ac0a875ba983eadfeb825ff1d909f8a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-9d043a02bac7918b5d61013fcda4ddbab637eb0e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:master-9d043a02bac7918b5d61013fcda4ddbab637eb0e in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:run-integration-tests-65dc5cd78f6659273df5d0211898ae686587b373 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:prod-9d043a02bac7918b5d61013fcda4ddbab637eb0e in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozmeao/bedrock:run-integration-tests-b7b0d56928a760d407bc401625eab841f68c99af in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

set image to mozmeao/bedrock:run-integration-tests-9f1ca04a2fdc1dd389bd22f41742acc13394d532 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

Enable redesigned /new page
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:master-06e6a50fdf3b94d5086453354a4c60717a411c92 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-06e6a50fdf3b94d5086453354a4c60717a411c92 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:prod-06e6a50fdf3b94d5086453354a4c60717a411c92 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Enable redesigned /new page (#289)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:master-a90c582048ccef49cbbecdd1a6a79be624bcc83b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

set image to mozmeao/bedrock:stage-a90c582048ccef49cbbecdd1a6a79be624bcc83b in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-firefox-local: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-edge: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox-local: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-edge: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie9: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox-local: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-firefox-local: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
