Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

deploy-test-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-dev-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-stage-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-prod-frankfurt:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - aws
  variables:
  ...

deploy-prod-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

test-download-remote:
  stage: test
  script: bin/acceptance-tests.sh
  tags:
  - mozmeao
  - aws
  after_script:
  - bin/cleanup_after_functional_tests.sh
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    when: on_failure
    expire_in: 1 week
    paths:
    - results-${CI_JOB_ID}
  variables:
    MARK_EXPRESSION: download
  ...

bedrock-dev: set image to mozmeao/bedrock:0e9e6fbef693613f6a82942daaec5c22f8b6a285 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:dd43cfe5afb8eb6eb0bcac72f5b2ee42ce995647 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:bedd87c281e9dcca5beb0fca890654815ea0636f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:469148c66017d474be1da2f374b0fa55b3cad200 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:2378f64f43da94ceba3a553aacdac09dabab0862 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4fcdffd7632a0e9a2893dd2f70fd0ea6b6724b5d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:99d9224c3363fd3e752ebd326e584dcedc3eab4f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:2d521ba7447718c51469059ac288d53b99f49742 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

Deactivate EOY2020 fundraising banner
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:b34892178eb48a7fe5890bc6c1d7736148f85809 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Adding an ingress-nginx deployment for bedrock prod
  .gitlab-ci.yml
  mozmeao-fr/bedrock-prod/helm_configs/ingress.yml
  mozmeao-fr/bedrock-prod/ingress-controller.sh
  mozmeao-fr/bedrock-prod/ingress.yml
Due: test-download-remote

removing the test branch
  .gitlab-ci.yml
Due: test-download-remote

adding the host in use by the traffic policy.
  mozmeao-fr/bedrock-prod/ingress.yml
Due: test-download-remote

Adding www.mozilla.org as a host
  mozmeao-fr/bedrock-prod/ingress.yml
Due: test-download-remote

bedrock-stage: set image to mozmeao/bedrock:b34892178eb48a7fe5890bc6c1d7736148f85809 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:b34892178eb48a7fe5890bc6c1d7736148f85809 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:c01fbaf03a5659f2aedd65ebca3733dea50c1f3b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Disable native app banner Android experiment
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:e5f09edf545a6d85b601055d73fdb2706ac1ba9e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:9564e39f5b30f40cb466e2d7d5bb00bc32a897a7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:2d8b2e28e6439c51df82e7242c1228c0362d84d6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:9564e39f5b30f40cb466e2d7d5bb00bc32a897a7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:9564e39f5b30f40cb466e2d7d5bb00bc32a897a7 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:026d9b62296e679f5084c8b3c605de2b766abc02 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:db9ceb699cf3f788d5a28be2dae914404bed4505 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:d442dffe4df3c936d5122346ff0f1dceef782d8d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:d442dffe4df3c936d5122346ff0f1dceef782d8d in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:d442dffe4df3c936d5122346ff0f1dceef782d8d in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:bbd1b353ce743358f720b12087ade0a3d51646e6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:70b35ccd5c416b17df98576c8a3b0f73c47691e9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:88e0d0d7cedb0027441ee07c52f65884a2db1fdd in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:cc034c9de7014f126ebd02a6c3edbecbec271498 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:2d91bf7fa61d419835cd8debfae134f8721f9c9c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

Adding autoscaling to nginx-controller
  mozmeao-fr/bedrock-prod/helm_configs/ingress.yml
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:22be7e5d2f99899942a751e5a5a81d5af97a36b2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:01309536f4fcce23e5902f0c646f27d374ed4038 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:5f8b6d7b3f402388c40130e5cf2c41b205760e59 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:3af997da8bf052a7a6ab01842efafcf796f88dc1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ee10d98a70e4b9c93ccf774e21b58bba63ffa3d4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:446e507aceda2f6dfc3595b4eb9a00d509ad15ee in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
