Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

deploy-test-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-dev-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-stage-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

deploy-prod-frankfurt:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - aws
  variables:
  ...

deploy-prod-iowa:
  stage: deploy
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  artifacts:
    reports:
      dotenv: build.env
    when: on_success
    expire_in: 1 week
  tags:
  - iowa-c
  variables:
  ...

test-download-remote:
  stage: test
  script: bin/acceptance-tests.sh
  tags:
  - mozmeao
  - aws
  after_script:
  - bin/cleanup_after_functional_tests.sh
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    when: on_failure
    expire_in: 1 week
    paths:
    - results-${CI_JOB_ID}
  variables:
    MARK_EXPRESSION: download
  ...

bedrock-dev: set image to mozmeao/bedrock:20f2bffd9c7034fe1744e97111ea218577d94164 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Enable /exp/firefox/new/ redirect on stage
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:5a7793bfe8f6dab828acef1daa5832179015534b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

Enable /exp/ redirect for /firefox/new/ in prod
  waffle_configs/bedrock-prod.env
Due: test-download-remote

Switch on Convert for the unfck landing page
  waffle_configs/bedrock-prod.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:74f41ef249dffceb522296439805496af4665650 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:5fba9d7b331412b9de02320a9212e81fd7d0e374 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ad4993cc024cb26b3ab90cdd32c41f03995dcd91 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:613954dc7fbdf70f92f7ae19098b129ec073e9b1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:613954dc7fbdf70f92f7ae19098b129ec073e9b1 in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:ad4993cc024cb26b3ab90cdd32c41f03995dcd91 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:ad4993cc024cb26b3ab90cdd32c41f03995dcd91 in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:1e9f780d5d0aff10bebb43b7edab6d4e44c12da5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:e3f7ea30f640d16d4fa569b88e89c69fcfc66b32 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:9a2166f5d7dfdeb821697016f3db6f38e9ad44ad in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:91d63ed977c2f5b2630e5fe98e5e676cc01237e2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:3ca1d077bff4d5a7dc9b6439dd10ca18b008db72 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:4cf2f3f9e6bb9a4a149d06a24076e1bb31ec42da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b5a1fe9831990cf0c65dc922702ba9f9bbd16c36 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:069269cc3597c62d7b883c1a2ad48440c715f42b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ea379830636933e2e25e13788fbacfef8fd70f38 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:415cc434e1e0ae9f941b4ebfef745bf63136b840 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

Turn off /firefox/new/ experiment redirect
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:cc0bacda55766ad310af54cf8fd5e15f9a2a50f1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:3f4d9f0ccfe90cc3fa2c8189a6af1da798d02b4b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:3f4d9f0ccfe90cc3fa2c8189a6af1da798d02b4b in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:3f4d9f0ccfe90cc3fa2c8189a6af1da798d02b4b in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:a17d08d2c4572faeb798d3dfb84f1ef2269e803a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:1bd9170597b2e84904323cd2c97fece15594be2b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:47a4fd495cd29e971707eb432e92a67156be7876 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:1e7fc39f15a773fd2f840589c6f168f53ef68244 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

switch off convert for unfck
  waffle_configs/bedrock-prod.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ad626531217b4fd7f0e8294c53965c1a308afcf3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:f7a41b6b66bd5993be0dc46e8133d7cc4cad7278 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:581f96fca8004d15032c206b8664422c5f6b03fe in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:5872a9d466a3f0d68f484d961f6b65ce2fbc16ed in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:80bc306b98bf8871bcb6a3f865e47375d835ed20 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:c71c98ab7793599cf6388df874d7be102f3c8066 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:7559e1f566e89d01775c0cfdb106477f3bcc5f24 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:7559e1f566e89d01775c0cfdb106477f3bcc5f24 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
