Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
    BROWSER_NAME: chrome
  ...

dev-test-download:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  script: bin/acceptance-tests.sh
  stage: test
  tags:
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
    BROWSER_NAME: firefox
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  script: bin/acceptance-tests.sh
  stage: test
  tags:
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - oregon-b-shell
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test

oregon-b-test-chrome:
  tags:
  - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  ...

oregon-b-test-download:
  tags:
  - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  ...

set image to mozorg/bedrock:run-integration-tests-65c5b9e9e3ababf3c29333742ab8de99f4bdce3c in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-2a11267e84bd4270a04e065cb3cad8b1c76fc826 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-5832fd664d1f7cc19189644b79362d5acce0f135 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-360545b4423f0afff4f954a7c1dc25a1b4ef7dd6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-360545b4423f0afff4f954a7c1dc25a1b4ef7dd6 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-360545b4423f0afff4f954a7c1dc25a1b4ef7dd6 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-4863712c9eb56e8efe3f6345d62abd07eb87676d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-c249dc2c52b45bcd8021736c9792f1aead424596 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-262da25b3d2c2ffb174ce970048c27ba30562730 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-262da25b3d2c2ffb174ce970048c27ba30562730 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:master-0ca3a417a44e750f57f1c8d05d468b23cfee6d20 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-262da25b3d2c2ffb174ce970048c27ba30562730 in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-d56c673ba4c1cdf06525021282d2ed4a2dd7f2b9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-104a86b98c399d936a0acbfda5a4bb22a33a0680 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-104a86b98c399d936a0acbfda5a4bb22a33a0680 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:master-4d9db1d8ed9e11e9e1fe1f259fd2303bf2d96489 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-4d9db1d8ed9e11e9e1fe1f259fd2303bf2d96489 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-4d9db1d8ed9e11e9e1fe1f259fd2303bf2d96489 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:run-integration-tests-1eebc902d133a5b4e8836986b511efc4f1d893d9 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-937becb50939e62489a1341efee5c6e2fb94c6e1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-3201b643653786d050dec08b5dae66a214b8ca01 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-54d46349bd427c45667700aa6badc749f69081bb in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-a08ad4aa97a2b5209b923d8b603127addd0f9240 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-a08ad4aa97a2b5209b923d8b603127addd0f9240 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-a08ad4aa97a2b5209b923d8b603127addd0f9240 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:stage-52e695cce9e837aeaf3a3af9c998f05b91a514cd in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:master-52e695cce9e837aeaf3a3af9c998f05b91a514cd in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-52e695cce9e837aeaf3a3af9c998f05b91a514cd in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:run-integration-tests-2b16eb4cefa4e2253c7af78e2b38345377c5c1ac in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-990a64b3ab7f40ad34679bc56cbbb4595fde14d0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-d5185796e3e3ed857e85b26a6a722f38e2b202ef in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-52e695cce9e837aeaf3a3af9c998f05b91a514cd in frankfurt iowa-a
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-eb79901077762fe93a21be585ce3f0517de33547 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-c8145d43a5f142dd7d6644c59502dd56ac09c70c in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-da2be6f1b3b867f6bcb334d87cb5fd893b77373a in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-6a8d2710dd42d39af371bcb4351b20e487755553 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-365a3a4e20b3e38f4000ff88a5387740bbd3096f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-0cccd8a934cd1fec7d386e6d811ca097cac1c0f1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-a7088c02ae3cc7c902e341496031383e71200895 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-a7088c02ae3cc7c902e341496031383e71200895 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
