Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
    BROWSER_NAME: chrome
  ...

dev-test-download:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  script: bin/acceptance-tests.sh
  stage: test
  tags:
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
    BROWSER_NAME: firefox
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  script: bin/acceptance-tests.sh
  stage: test
  tags:
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - oregon-b-shell
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test

oregon-b-test-chrome:
  tags:
  - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  ...

oregon-b-test-download:
  tags:
  - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozorg/bedrock_test
    PYTEST_PROCESSES: '4'
  ...

docker pull $TEST_IMAGE before docker run
  bin/acceptance-tests.sh
Due: none

Fix bedrock-test STATIC_URL and increase replicas to 5
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-2d15db07282955f6e06da4974bf878dcaf12fc79 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-f5343f07c09bd243273b515a9c2e8ade2bde3f97 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-b0b621892816a8046990e030b9e1f4f010b80d33 in oregon-b
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-5afb946b181d3c6b6a4d2fb60f1f286f87cc9c2e in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-09c05f76a42d47f6aecf65fdd3a9a579caf6bda4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-50262641550b32abcf9d8213a9ff87c585cce80a in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-9b507a40eeedf3cd8d4b9ee195d79903d95028df in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:stage-09c05f76a42d47f6aecf65fdd3a9a579caf6bda4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-09c05f76a42d47f6aecf65fdd3a9a579caf6bda4 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-3de4ef1d10fae715c0a7631720af2e07ae71b256 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-147a09b7bafe5d6d103bf1effb49b7fe91290160 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-b9ab44302c68eecab2e6aa16ba930d18f5132fb1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-b9ab44302c68eecab2e6aa16ba930d18f5132fb1 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-b9ab44302c68eecab2e6aa16ba930d18f5132fb1 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:run-integration-tests-01884c4bd25f16f815180e67614f75b0404c2be7 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:master-65d22b0099e99252ee1755a48fe7fc3b779bae31 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Add retry: 2 to .deploy jobs
  .gitlab-ci.yml
Due: none

Add retry: 1 to .test jobs
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-5484cb2379ef8092f3a3e7c94d6189b910f999ac in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Add retries to deploy & test jobs (#256)
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:stage-5484cb2379ef8092f3a3e7c94d6189b910f999ac in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:prod-5484cb2379ef8092f3a3e7c94d6189b910f999ac in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-c200239338718ccfa0e966fc574d064763e4f82d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-aeed703ef9f46bf62b0151c747fa9c93aa7493da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-bacb45b7d57258e109badc738112030a02fbc247 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:master-bacb45b7d57258e109badc738112030a02fbc247 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-bacb45b7d57258e109badc738112030a02fbc247 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-298771b19dd1d7214bd58a9af9a673d8606b673c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-9762d1f3419bf4bcffb8948993236fbc11415d32 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-e4e040d770e2295bd835ccac758490019077febf in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-21bb076366bdf5a4171ef5257d46324b3920b09a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-21bb076366bdf5a4171ef5257d46324b3920b09a in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:master-67a2debdfcbd4a72cc3b5b0998a136aea7964704 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-21bb076366bdf5a4171ef5257d46324b3920b09a in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:master-9735c0c34845fd15252d0f685533e1cce56da4ab in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-cfe4ab98b2fa380fda25b01df4eb7a5ed65191d0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:run-integration-tests-59bcfa81a0b022cda67c9efc1e95eb8a432b8cfa in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozorg/bedrock:run-integration-tests-f446eff82ed4c212781f664ee8e26182b1d2afcc in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
