Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-firefox-local: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-edge: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox-local: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-edge: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie9: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox-local: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-firefox-local: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*

bedrock-prod: set image to mozmeao/bedrock:69e0073c50482eaba5425d195cf89f7cd0089923 in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:8447156895b0494f8b13556217dc508a81f090b0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:2397c2fcb3fa34791f46c60d20e565da16d320a1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-test: set image to mozmeao/bedrock:8614cba2767c37338c2ce9c8f44751e47c91e955 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

bedrock-dev: set image to mozmeao/bedrock:7680085d7f1522bc232bd63f32f461c3c332f965 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:0fcf769426bdb4a55aa52bf0fac7dd7f1cf27d2f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:80ae3507b88226bd342011ef635f32dd2aba651c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:3bef24b203c34a0d1ef1da4ffee322a774dfb699 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:837d42759246700a10d18e3bb38912fd06b062d2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:08030d65fd09d1c60c2c135baccb21b930c0542f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:b8621ef47b6dda7d9fe1a52e42c28db533dfd82b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:b8621ef47b6dda7d9fe1a52e42c28db533dfd82b in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:b8621ef47b6dda7d9fe1a52e42c28db533dfd82b in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:d5816e77b0887f6985f3dc2dc73ab3aa64c42605 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:1b9ba45fff4772074c40cf5335e19350115130e2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:a144befcce6051dc55461dded5971e623d4e15d9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:a144befcce6051dc55461dded5971e623d4e15d9 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:a144befcce6051dc55461dded5971e623d4e15d9 in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:cc2218306292e09541a4f18ee442203b5fcbdf32 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:4a79d72867e4b4c536059606fdcec29debde02da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:4a79d72867e4b4c536059606fdcec29debde02da in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:4a79d72867e4b4c536059606fdcec29debde02da in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:90af849779f29cf6dd923dbae516663603d99249 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:564f4fcbb62755a9aea3e78138d2616361a77e56 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:56b1c4b232311260b42189aa788af54edaa3dfe3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-test: set image to mozmeao/bedrock:8cb00ec3ce327e76450e668e8fdd19a79795debe in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

bedrock-dev: set image to mozmeao/bedrock:91b499576de5fe958daf3b929ae1a10607800dfa in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:91b499576de5fe958daf3b929ae1a10607800dfa in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:91b499576de5fe958daf3b929ae1a10607800dfa in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:50e7fab42ac8371ba171154b7d07a4f5cee4bef4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:2a0935f2e701db41e2a517d7b54ffc07100da51e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:57e01d6048c6157362217224517c7e5121d3b548 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

Toggle unfck links in stage
  waffle_configs/bedrock-stage.env
Due: none

bedrock-stage: set image to mozmeao/bedrock:478eec7d3d875deb5f3ca3d8323e526f80571447 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-dev: set image to mozmeao/bedrock:478eec7d3d875deb5f3ca3d8323e526f80571447 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Toggle unfck links in stage (#304)
  waffle_configs/bedrock-stage.env
Due: none

bedrock-prod: set image to mozmeao/bedrock:478eec7d3d875deb5f3ca3d8323e526f80571447 in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:67fc4a1fd7ffaf51a920c767eb731d0609bdd80c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-test: set image to mozmeao/bedrock:6bf482ee52736727524bceb8b6c5ef33b7fa27a3 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

bedrock-test: set image to mozmeao/bedrock:62abebb2ba4ebe2a2975a54327644f6165f8ed73 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9
